@model Department

<div class="mb-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="ManagerName"></label>
    <input asp-for="ManagerName" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Location"></label>
    <input asp-for="Location" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Branch"></label>
    <input asp-for="Branch" class="form-control" />
</div>