@model Department

<form action="/Department/AddNew" method="post">
    <partial name="_AddEditPartialView" />
    <button type="submit" class="btn btn-primary">Add Department</button>
    <a href="/Department/GetAll" class="btn btn-secondary ms-2">Cancel</a>
</form>