@model Student
@{
    SelectList departments = new SelectList(ViewBag.Departments, "DeptId", "Name");
}

<div class="mb-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>

</div>
<div class="mb-3">
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
    
</div>
<div class="mb-3">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Image"></label>
    <input asp-for="Image" class="form-control" />
    <span asp-validation-for="Image" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="DeptId"></label>
    <select class="form-control" asp-items="departments" asp-for="DeptId">
        <option value="0">-- Select Department --</option>
    </select>
    <span asp-validation-for="DeptId" class="text-danger"></span>
</div>