@model Student
<form action="/Student/AddNew" method="post">  
    @* method post has body recived data at form not in quiry str in url  *@
    <partial name="_AddEditFormPartialView" />
    <button type="submit" class="btn btn-primary">Add Student</button>
    <a href="/Student/GetAll" class="btn btn-secondary ms-2">BacktoList</a>
</form>

@* @Html.ActionLink("Back to List", "GetAll", "Student") *@