@model Student
@{
    SelectList departments = new SelectList(ViewBag.Departments, "DeptId", "Name");
}

<form asp-action="Edit" asp-controller="Student" method="post">
    <input type="hidden" asp-for="SSN" />
    <div class="mb-3">
         <label asp-for="Name"></label>
         <input asp-for="Name" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Image"></label>
        <input asp-for="Image" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <select 
            class="form-control" asp-items="departments" asp-for="DeptId">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">SaveEdits</button>
</form>

