@model Instructor

<form action="/Instructor/AddNew" method="post">
    @* asp-action="AddNew" asp-controller="Instructor"   by tag helper *@
    <partial name="_AddEditPartialView" />
    <button type="submit" class="btn btn-primary">Add Instructor</button>
    <a href="/Instructor/GetAll" class="btn btn-secondary ms-2">Cancel</a>
</form>

    
