@model Instructor

<form asp-action="Edit" asp-controller="Instructor" method="post">
    <input type="hidden" asp-for="InsId" />
    <partial name="_AddEditPartialView"/>
    <button type="submit" class="btn btn-primary">SaveEdits</button>
</form>

