@model Course

<form action="/Course/AddNew" method="post">
    <partial name="_AddEditPartialView" />
    <button type="submit" class="btn btn-primary">Add Course</button>
    <a href="/Course/GetAll" class="btn btn-secondary ms-2">Cancel</a>
</form>
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/custom-validation.js"></script>
}


