@model Course

<form action="/Course/AddNew" method="post">
    <partial name="_AddEditPartialView" />
    <button type="submit" class="btn btn-primary">Add Course</button>
    <a href="/Course/GetAll" class="btn btn-secondary ms-2">Cancel</a>
</form>


